.modal{
    position: fixed;
    z-index: 300;
    background: white;
    width: 25%;
    border : 1px solid whitesmoke;
    border-radius: 5px;
    padding: 16px;
    left: 38%;
    top: 25%;
    box-sizing: border-box;
    text-align: center;
    transition: all .3s ease-out;
}

@media(max-width:60rem) {
    .modal{
        width: 30%;
        left: 35%;
    }
}